<div class="container">
    <div [hidden]="ticket">
        <h2>Formulario de registro de cliente</h2>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="nomb">Nombre:</label>
                        <input autofocus type="text" class="form-control"  [(ngModel)]="nombre" id="nomb" placeholder="Ej. Josue Estrada" >
                        
                    </div>
                    
                    <div class="form-group col-sm-6">
                        <label for="dui">DUI:</label>
                        <input type="text" class="form-control"  [(ngModel)]="DUI" id="dui"  placeholder="Ej. 05555554-7" >
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="vehicu">Vehiculo:</label>
                        <input type="text" class="form-control"  [(ngModel)]="vehic" id="vehicu"  placeholder="Ej. Hyundai accent" >
                        
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="coste">Costo:</label>
                        <input type="text" class="form-control"  [(ngModel)]="costo" id="coste" placeholder="Ej. 250" >
                    </div>
                </div>
                
                <div class="row">
                    <button (click)="registrar()" class="btn btn-primary">Registrar</button>
                </div>                       
          
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>DUI</th>
                            <th>Vehiculo</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cle of arrayRegistro">
                            <td>{{cle.nombre}}</td>
                            <td>{{cle.DUI}}</td>
                            <td>{{cle.vehicu}}</td>
                            <td>${{cle.cost}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>               
    </div>

    <div [hidden]="!ticket">
        <h2>Los datos de la compra</h2>
        <div class="row mb-2">
            <div class="col-md-8">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  
                  <h5 class="mb-0 text-muted" >Nombre: {{nombre}}</h5>
                  <strong class="d-inline-block mb-2 text-muted">Dui: {{DUI}}</strong>
                  <strong class="d-inline-block mb-2 text-muted">Vehiculo: {{vehic}}</strong>
                  
                </div>
                
              </div>
            </div>
            <div class="col-md-4">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  

                    <!----Aqui empieza la otra parte -->

                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                          <span class="text-muted">Factura</span>
                          <span class="badge badge-secondary badge-pill">#Visitas: {{cuenta}}</span>
                        </h4>
                        <ul class="list-group mb-3">
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0"> Costo</h6>
                              
                            </div>
                            <span class="text-muted">{{costo}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0"> Descuento</h6>
                              
                            </div>
                            <span class="text-muted">{{descu.toFixed(2)}}</span>
                          </li>
                                                  
                          <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong *ngIf="descCosto!=0">${{descCosto}}</strong>
                          </li>
                        </ul>
                </div>
                
              </div>
            </div>
          </div>
          <button class="btn btn-primary" (click)="vaciar()">Regresar</button>
       </div>
</div>